<!DOCTYPE html>
<html>

<head>
    <title>MOV</title>
    <link rel="icon" href="/resources/images/logo.svg" />

    <!--Bootstrap-->
    <!-- Load required Bootstrap and BootstrapVue CSS -->
    <link type="text/css" rel="stylesheet" href="/resources/css/lib/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="/resources/css/lib/bootstrap-vue.min.css" />
    <link type="text/css" rel="stylesheet" href="/resources/css/main.css" <!-- Load polyfills to support older browsers
        -->
    <!--<script src="//polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver"
        crossorigin="anonymous"></script>-->

    <script src="/resources/lib/instascan.min.js"></script>
    <!-- data-main attribute tells require.js to load
             scripts/main.js after require.js loads. -->
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />

    <!-- Load polyfills to support older browsers -->
    <script src="//polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver"
        crossorigin="anonymous"></script>

    <!-- Load Vue followed by BootstrapVue -->
    <script src="//unpkg.com/vue@latest/dist/vue.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
    <script src="https://unpkg.com/vee-validate@3.0.11/dist/rules.umd.min.js"></script>
    <script src="https://unpkg.com/vee-validate@latest"></script>
    <script data-main="/resources/scripts/main" src="/resources/lib/require.js"></script>
</head>

<body>
    <div id="root">
        <div v-if="loading" class="loader">
            <svg class="lds-gear" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
                <g transform="translate(50 50)">
                    <g>
                        <animateTransform attributeName="transform" type="rotate" values="0;360" keyTimes="0;1" dur="1s"
                            repeatCount="indefinite"></animateTransform>
                        <path
                            d="M37.43995192304605 -6.5 L47.43995192304605 -6.5 L47.43995192304605 6.5 L37.43995192304605 6.5 A38 38 0 0 1 35.67394948182593 13.090810836924174 L35.67394948182593 13.090810836924174 L44.33420351967032 18.090810836924174 L37.83420351967032 29.34914108612188 L29.17394948182593 24.34914108612188 A38 38 0 0 1 24.349141086121882 29.17394948182593 L24.349141086121882 29.17394948182593 L29.349141086121882 37.83420351967031 L18.090810836924184 44.33420351967031 L13.090810836924183 35.67394948182593 A38 38 0 0 1 6.5 37.43995192304605 L6.5 37.43995192304605 L6.500000000000001 47.43995192304605 L-6.499999999999995 47.43995192304606 L-6.499999999999996 37.43995192304606 A38 38 0 0 1 -13.09081083692417 35.67394948182593 L-13.09081083692417 35.67394948182593 L-18.09081083692417 44.33420351967032 L-29.34914108612187 37.834203519670325 L-24.349141086121872 29.173949481825936 A38 38 0 0 1 -29.17394948182592 24.34914108612189 L-29.17394948182592 24.34914108612189 L-37.83420351967031 29.349141086121893 L-44.33420351967031 18.090810836924195 L-35.67394948182592 13.090810836924192 A38 38 0 0 1 -37.43995192304605 6.500000000000003 L-37.43995192304605 6.500000000000003 L-47.43995192304605 6.5000000000000036 L-47.43995192304606 -6.499999999999993 L-37.43995192304606 -6.499999999999994 A38 38 0 0 1 -35.67394948182593 -13.090810836924167 L-35.67394948182593 -13.090810836924167 L-44.33420351967032 -18.090810836924163 L-37.834203519670325 -29.34914108612187 L-29.173949481825936 -24.349141086121872 A38 38 0 0 1 -24.349141086121893 -29.17394948182592 L-24.349141086121893 -29.17394948182592 L-29.349141086121897 -37.834203519670304 L-18.0908108369242 -44.334203519670304 L-13.090810836924193 -35.67394948182592 A38 38 0 0 1 -6.500000000000005 -37.43995192304605 L-6.500000000000005 -37.43995192304605 L-6.500000000000007 -47.43995192304605 L6.499999999999989 -47.43995192304606 L6.499999999999991 -37.43995192304606 A38 38 0 0 1 13.09081083692415 -35.67394948182594 L13.09081083692415 -35.67394948182594 L18.090810836924142 -44.33420351967033 L29.349141086121847 -37.834203519670346 L24.349141086121854 -29.173949481825954 A38 38 0 0 1 29.17394948182592 -24.349141086121893 L29.17394948182592 -24.349141086121893 L37.834203519670304 -29.349141086121897 L44.334203519670304 -18.0908108369242 L35.67394948182592 -13.090810836924195 A38 38 0 0 1 37.43995192304605 -6.500000000000007 M0 -20A20 20 0 1 0 0 20 A20 20 0 1 0 0 -20"
                            fill="#e15b64"></path>
                    </g>
                </g>
            </svg>
        </div>
        <container></container>
    </div>
</body>

</html>